<header class="sticky top-0 flex flex-wrap items-center px-4 py-4 bg-blue-100 dark:bg-neutral-700 lg:px-16">
  <div class="hidden w-full h-8 md:flex md:items-center md:w-auto" id="menu">
    <nav>
      <ul class="items-center justify-between pt-4 text-base text-gray-700 md:flex md:pt-0">
        <li>
        <%= link_to "PageScraper", root_path, class: "block px-0 py-3 md:p-4 bg-blue-500 text-white" if user_signed_in? %>
        </li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "block px-0 py-3 md:p-4"%>
        </li>
          <li><%= link_to "Sign In", new_user_session_path, class: "block px-0 py-3 md:p-4"%>
        </li>
        <li>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "block px-0 py-3 md:p-4"%>
        </li>
      </ul>
    </nav>
  </div>
</header>
